*{
	margin: 0;
	padding: 0;
}
.wrap{
	background: #29bde0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.header{
	background:#f0f0f0 ;
	padding-top: 30px;
}
.actia,
.actac{
width: 98%; 
	margin: auto;
	font-size: 20px;
}
.actia p{
	text-align: center;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-radius: 8px;
	padding-top: 20px;
	box-shadow:  0 2px 5px #dddddd;
	font-size: 20px;
	padding-bottom: 20px;
	background: #FFFFFF;
}
.actac {
	border-bottom: 1px solid #dddddd;
	height: 400px;
	background: #FFFFFF;
	padding-top: 20px;
}
.actac img{
	margin-right: 20px;
}

.actac span{
	margin-left: 5px;
	margin-right: 5px;
}
.mizut{
	width: 98%;
	margin: auto;
	background: #FFFFFF;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
}
.mizut p{
	width: 80%;
	margin-left: 10%;
	border-bottom: 1px solid #dadada;
	color: #dadada;
	font-size: 20px;
	padding-bottom: 10px;
}
.mizut input{
	border: none;
	outline: none;
}
#killer,
#populace{
	width: 22px;
	border: none;
	outline: none;
	text-align: center;
}
.quantity{
	width: 98%;
	margin: auto;
	background: #FFFFFF;
	margin-top: 30px;
	padding-top: 30px;
	height: 180px;
}
.quantity b{
	font-size: 20px;
}
.quantity #qua{
	border: none;
	width: 35px;
	height: 30px;
	background: #f4f5f5;
	text-align: center;
}
.quantity span{
	color:  #fab344;
	margin-left: 10px;
}
.quantity p{
	width: 80%;
	margin-left: 10%;
}
.footer{
	margin: auto;
	width: 98%;
	margin-top: 30px;
	padding-bottom: 50px;
}
.footer #foo{
	background: #fab344;
	border: none;
	outline: none;
	height: 40px;
	width: 100%;
	font-size: 25px;
	color: #FFFFFF;
	height: 50px;
}
