* {
	margin: 0;
	padding: 0;
}

.wrap {
	background: #29bde0;

}

.header {
	color: #FFFFFF;
	font-size: 3.4rem;
	text-align: center;
	border-bottom: 1px solid #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	height: 80px;
}

#add {
	width: 10rem;
	height: 10rem;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	border: 5px solid #FFFFFF;
	
}
#shent{
	margin-top: 20px;
	margin-bottom: 30px;
	display: none;
	}
.henart:hover #shent{
	display: block;
}
.henart{
	width: 33%;
	float: left;
	height: 235px;
}
#main{
	width: 90%;
	margin: auto;
text-align: center;
}
#aas{
	background: #f4d085;
	height: 75%;
	margin: 0;
	padding-top: 20px;
}
#stng {
	background:#83b09a;
	color:  #FFFFFF;
	}

.footer {
	width: 90%;
	margin: auto;
}

.footer input {
	width: 100%;
	height: 86px;
	margin-top: 150px;
	margin-bottom: 100px;
	font-size: 48px;
	color: #FFFFFF;
	background: #fbb435;
	outline: none;
	border: none;
}
