*{
	margin: 0;
	padding: 0;
}
.plus {
 max-width: 1026px;
margin: 0 auto;
}
.unrea{
background: #90d6d8;	
color: #FFFFFF;
height: 50px;
position: relative;
}
.unrea a{
	color:  #FFFFFF;
}
.unrea i{
	vertical-align:middle ;
padding-left: 10px;
}
.unrea span{
position: absolute;
top: 13px;
left: 35px;
/*padding-top: 12px;*/
}
.unrea p{
	padding-top: 13px;
	text-align: center;
}

 .navig p{
 	float: left;
 	width: 20%;
 	text-align: center;
 height: 30px;
 padding-top: 15px;
 cursor: pointer;
 }
 .navig a{
 	color: #000000;
 
 }
.ation{
	border-bottom: 3px solid #90d6d8;
}
.yuns{
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
	
}
.yuns p{
	padding-top: 10px;
}
.arrow{
	overflow: hidden;
		margin-left: 10px;
		margin-right: 10px;
		border-bottom: 2px solid #EDEDF0;
		
}
 .subf h2{
	color: #323232;
}
.subf p,
.subfa p{
	color: #646464;
	margin-top: 10px;
	font-weight: 600;
	letter-spacing: 3px;
}
.subf {
	width: 30%;
	padding-left: 20px;
	text-align: center;
	border-right: 2px solid #EDEDF0;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}
.subfa{
	width: 315px;
	padding-left: 20px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}
.subfield{
	overflow: hidden;
}
.module h2{
	color:  #656565;
}
.module{
	background: #f5f5f5;
	padding-top: 20px;
	
}
.mad{
	background: #FFFFFF;
	padding-top: 10px;
	padding-left: 20px;
padding-right: 20px;
overflow: hidden;
}	
.mad h2{
	padding-bottom: 10px;
	border-bottom: 2px solid #f5f5f5;
}
.phtf img{
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid #f9b318;
	width: 180px;
	height: 180px;
}
.phtf{
	float: left;
	width: 18%;
}
.phtf-1{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	width: 38.96%;
}
.phtf-2{
	margin-top: 34px;
}
.enough{
	/*width: 358px;*/
	/*width: 39.18%;*/
	height: 52px;
	background: #F5F5F5;
	text-align: center;
	padding-top: 29px;
	margin-bottom: 20px;
	/*float: left;*/
}
.enough span{
	text-align: center;
}
.mad{
	margin-bottom: 20px;
	width: 100%;
}
.moving{
	background:  #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 5px;
	overflow: hidden;
}
.mv,
.motg,
.moving img{
	float: left;
	padding-left: 20px;
}
.mv p{
	font-size: 45px;
	margin-bottom: 20px;
}
.motg P{
	font-size: 45px;
	margin-bottom: 80px;
}
.moving span{
	color: #c6c6c6;
}
.logo{
	background:  #FFFFFF;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.logo P{
	font-size: 45px;
}
.awes{
	color: #c6c6c6;	
}
.logo img{
	margin-bottom: 20px;
}
.module{
	padding-bottom: 60px;
}
